*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(taswira.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo{
    color:white;
    
}

.bar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.title{
    padding: center;
    font-size: 100px;
    margin-left: 1000px;
}
.testiw{
    font-size: 50px;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.te{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    color: white;
    border-right:none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius:5px ;
    border-top-left-radius:5px ;
}